<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
        <link rel="stylesheet" type="text/css" href="/static/css/reset.css">
        <link rel="stylesheet" type="text/css" href="/static/css/main.css">
</head>
<body>
    <div class="login_logo">
        <img src="/static/img/logo.png" alt="">
    </div>
    <form  class="login_form"  name = "login" method="post" action="/login">
        <h1 class="login_title">用户登录</h1>
        <input type="text"  class="input_txt" name = "userName" value="{{.userName}}">
        <input type="password" name = "password"  class="input_txt">
        <div class="remember"><input type="checkbox" name="remember" value="1" {{.uchecked}}><label>记住用户名</label></div>
        <input type="submit" value="登 录" id="login" class="input_sub">
        <span>{{.errorInfo}}</span>
    </form>
    <div class="login_bg"></div>
</body>
<script src="/static/js/jquery-1.12.4.min.js"></script>
<script type="text/javascript">
    $("#login").click(function (event) {
        var userName = $('input[name="userName"]').val()
        var password = $('input[name="password"]').val()
        var remember = $('input[name="remember"]:checked').val()
        if (userName == ""){
            return false
        }
        if (password == ""){
            return false
        }
        $.ajax({
            url:"/login",
            type:"POST",
            data:{userName:userName,password:password,remember:remember},
            dataType:"json",
            async:false,
            xhrFields: {
                withCredentials: true
            },
            crossDomain: true,
            success:function (data) {
                if (data.code == 200){
                    alert(data.message)
                    window.location.href= data.data[0]
                }else {
                    alert(data.message)
                }
            }
        })
        return false;
    })
</script>
</html>
